.DS_Store
.gradle
**/build
/captures
/local.properties
.externalNativeBuild
*.iml

.idea/*
!.idea/codeStyles
!.idea/dictionaries/default.xml
!.idea/fileTemplates
!.idea/inspectionProfiles
!.idea/runConfigurations
!.idea/scopes
!.idea/encodings.xml
!.idea/file.template.settings.xml
!.idea/icon.svg
!.idea/runConfigurations.xml
!.idea/jsonSchemas.xml
!.idea/vcs.xml