<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<application>
		<activity
			android:name=".SettingsActivity"
			android:exported="true"
			tools:replace="android:exported">

			<intent-filter
				android:autoVerify="true"
				tools:ignore="AppLinkUrlError">
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data
					android:host="screen"
					android:path="/settings"
					android:scheme="template"/>
			</intent-filter>
		</activity>
	</application>
</manifest>