<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<application tools:theme="@style/Theme.Template">
		<activity
			android:name=".HomeActivity"
			android:exported="false"
			android:launchMode="singleTask">

			<intent-filter>
				<category android:name="android.intent.category.DEFAULT"/>
				<action android:name="template.intent.action.open.HOME"/>
			</intent-filter>
		</activity>
	</application>
</manifest>